{% load static %}
{% include 'header.html' %}

	<!-- About Section -->
	<div class="about-section">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row align-items-center clearfix">
					<!-- Image Column -->
					<div class="image-column col-lg-6">
						<div class="about-image">
							<div class="about-inner-image">
								<img src="{% static 'images/about/home-about.png'%}" alt="about">
							</div>
						</div>
					</div>

					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12 mb-0">
						<div class="about-column">
							<div class="sec-title">
								<div class="title">about consulte</div>
								<h2>What <span>We Do</span></h2>
							</div>
							<div class="text">
								<p>Consulte is located in the former rectory of St. Peter’s Episcopal Church. Over our 14 year history, we have treated patients from over 114 different countries in the world. In 2010, we imposed geographical restrictions for the first time. Existing patients were not affected by this change, but new patients are now</p>
								<p>We have compiled an extensive list of other area clinics and health resources, so that when someone calls from outside of our geographical area.</p>
							</div>
							<div class="signature">Roshan<span>Roshan Dahal</span></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- End About Section -->
	
		<!-- About Section -->
		<div class="about-section">
			<div class="auto-container">
				<div class="inner-container">
					<div class="row align-items-center clearfix">
						
	
						<!-- Content Column -->
						<div class="content-column col-lg-6 col-md-12 col-sm-12 mb-0">
							<div class="about-column">
								<div class="sec-title">
									<div class="title">nirvesta</div>
									<h2>Our <span>Mission</span></h2>
								</div>
								<div class="text">
									<p>{{company.mission}}</p>
								</div>
							</div>
						</div>
						
						<div class="content-column col-lg-6 col-md-12 col-sm-12 mb-0">
							<div class="about-column">
								<div class="sec-title">
									<div class="title">nirvesta</div>
									<h2>Our <span>Vision</span></h2>
								</div>
								<div class="text">
									<p>{{company.vision}}</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- End About Section -->
		
		<!--Sidebar Page Container-->
		<div class="sidebar-page-container">
			<div class="auto-container">
				<div class="row clearfix">
					<!-- Content Side -->
					<div class="content-side col-lg-9 col-md-12 col-sm-12">
						<div class="service-detail">
							<div class="inner-box">
								<div class="lower-content">
									<div class="accordian-box">
										<h4>Frequently Asked Questions</h4>
										<!--Accordian Box-->
										<ul class="accordion-box">
											{% for faqs in faqs %}
											<li class="accordion block">
												<div class="acc-btn"><div class="icon-outer"><span class="icon icofont-plus"></span> <span class="icon icofont-minus"></span></div>{{faqs.question}}</div>
												<div class="acc-content">
													<div class="content">
														<div class="accordian-text">{{faqs.answer}}</div>
													</div>
												</div>
											</li>
											{% endfor %}
										
										</ul>
										
									</div>
									
								</div>
							</div>
						</div>
					</div>
					
					<!--Sidebar Side-->
					<div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
						<aside class="sidebar sticky-top">
							<div class="sidebar-widget brochures-widget">
								<div class="widget-content">
									<h4>Our brochures</h4>
									<div class="text">Download our comapny profile & 2017 financial brochure.</div>
									<ul class="brochure-list">
										{% for files in files %}
										<li><a href="{{files.file.url}}"><span class="icon far fa-file-pdf"></span>{{files.name}}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
							
						</aside>
					</div>
					
				</div>
			</div>
		</div>
	<!-- Testimonial Section -->
	<div class="testimonial-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				
				<h2><span>Testimonials</span></h2>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				{% for testimonial in testimonial %}
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="quote icofont-quote-right"></div>
						<div class="author">{{testimonial.name}} <span>/ {{testimonial.company}} </span></div>
						<div class="text">{{testimonial.testimonial}} </div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
	<!-- End Testimonial Section -->

	<!-- Sponsors Section -->
	<div class="sponsors-section">
		<div class="auto-container">
			
			<div class="carousel-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
					{% for partners in partners %}
                    <li><div class="image-box"><a href="#"><img src="{{partners.logo.url}}" alt="{{partners.name}}"></a></div></li>
					{% endfor %}
                </ul>
            </div>
			
		</div>
	</div>
	<!--End Sponsors Section-->
	
{% include 'footer.html' %}