{% load static %} {% include 'header.html' %}

<div class="container" style="margin-top:50px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" justify-content-between>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'dashboard' %}">Profile</a>
            <a class="nav-item nav-link active" href="{% url 'dashboard' %}">Apply Loan</a>
            <a class="nav-item nav-link active" href="{% url 'dashboard' %}">Company Profile</a>
            
          </div>
          
        </div>
        <div>
           <a href=" {% url 'logout' %} "> <button class="btn btn-primary">Logout</button></a>
          </div>
    </nav>

    <div class="container">
      <div class="form-wrap content-column col-lg-6 col-md-12 col-sm-12 mb-0">	
        {% load crispy_forms_tags %}
        <form action="{% url 'apply_loan' %}" method = 'POST'>
          {% csrf_token %}
          {% comment %} {{ form|crispy }} {% endcomment %}
          {% crispy form %}

          <div>
            <button class="btn btn-primary mt-5" type="submit">Submit</button>
           </div>
        </form>
      </div>	
    </div>
    {% comment %} <div class="container">
      <div class="form-wrap content-column col-lg-6 col-md-12 col-sm-12 mb-0">	
        <form action="{% url 'apply_loan' %}" method = 'POST'>
          {% csrf_token %}
          {{form.as_ul}}

          <div>
            <button class="btn btn-primary mt-5" type="submit">Submit</button>
           </div>
        </form>
      </div>	
    </div> {% endcomment %}
<style>

.form-input {
  height: 60px;
  width: 100%;
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
}
fieldset{
  margin-top:20px;
}
fieldset legend{
  color:black;
}
.help-block strong{
  color:red;
}
</style>
</div>


{% include 'footer.html' %}
