{% load static %}
{% include 'header.html' %}
	
	<!-- Page Title Section -->
    <div class="page-title-section">
    	<div class="auto-container">
			<ul class="post-meta">
				<li><a href="index.html">Index</a></li>
				<li>Blog</li>
			</ul>
			<h2><span>Latest</span> From Our Press</h2>
		</div>
	</div>
	<!-- End Page Title Section -->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container padding-top">
    	<div class="auto-container">
			<div class="row clearfix">
            	
                <!-- Content Side -->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
					<div class="our-blogs">
						{% for blogs in blogs %}
						<!-- News Block Three -->
						<div class="news-block-three">
							<div class="inner-box">
								<div class="image">
									<a href=" {% url 'blog_detail' id=blogs.id %} "><img src="{{blogs.image.url}}" alt="" /></a>
								</div>
								<h4><a href=" {% url 'blog_detail' id=blogs.id %} ">{{blogs.title}}</a></h4>
								<div class="post-date"> {{blogs.created}} by <span>Admin</span></div>
							</div>
						</div>
						{% endfor %}
					</div>
					







					<!-- Post Share Options -->
					<div class="styled-pagination">
						<ul class="clearfix">
							{% if blogs.has_previous %}
							<li class="next"><a href="?page={{blogs.previous_page_number }}"><span class="ti-angle-left"></span> </a></li>
							{% endif %}


							{% for num in blogs.paginator.page_range %}
							{%if blogs.number == num %}
							<li class="active"><a href="?page={{ num }}">{{num}}</a></li>
							{% elif num > blogs.number|add:'-5' and num < blogs.number|add:'5' %}
							<li><a href="?page={{ num }}"> {{num}} </a></li>
							{% endif %} {% endfor %}
							{% if blogs.has_next %}
							<li class="next"><a href="?page={{blogs.next_page_number }}"><span class="ti-angle-right"></span> </a></li>
							{% endif %}
						</ul>
					</div>
					






				</div>
				<!--Sidebar Side-->
				<div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
					<aside class="sidebar sticky-top">
						<div class="sidebar-widget brochures-widget">
							<div class="widget-content">
								<h4>Our brochures</h4>
								<div class="text">Download our comapny profile & 2017 financial brochure.</div>
								<ul class="brochure-list">
									{% for files in files %}
									<li><a href="{{files.file.url}}"><span class="icon far fa-file-pdf"></span>{{files.name}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						
					</aside>
				</div>
			
				
			</div>
		</div>
	</div>
	
	{% include 'footer.html' %}