{% load static %} {% include 'header.html' %}

<div class="container" style="margin-top: 50px">
  {% include 'user_nav.html' %}
  <div class="about-section">
    <div class="auto-container">
      <div class="inner-container">
        <div class="row clearfix">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12 mb-0">
            <div class="heading">
              <h3>Your messages</h3>
            </div>
            <style>
              .heading h3 {
                color: #2c724f;
              }
            </style>

            {% for chat in chat %} {% if chat.is_responded == 1 %}
            <h5><i class="icofont-check-circled"></i>{{chat.message}}</h5>
            {% else %}
            <h5><i class="icofont-check-alt"></i>{{chat.message}}</h5>
            {% endif %} {% endfor %}
          </div>
          <div class="content-column col-lg-6 col-md-12 col-sm-12 mb-0">
            <h3>Messages From Admin</h3>
          </div>
        </div>
        <div class="form-group">
          <form action=" {% url 'chat' %} " method="POST">
            {% csrf_token %}
            <label for="exampleFormControlTextarea1"
              >Write your message here</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              type="text"
              name="message"
            ></textarea>
            <button
              class="theme-btn btn-style-one mt-2"
              type="submit"
              name="submit-form"
            >
              <span class="txt">Send Message</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
