{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Nirvesta</title>
<meta name="description" content="Consulte is a free Bootstrap HTML Template for Investment Company"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="#">
<link rel="canonical" href="#" />

<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'css/main.css'%}" rel="stylesheet">
<link href="{% static 'css/responsive.css'%}" rel="stylesheet">

<!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Consulte - Investment Company Bootstrap HTML Template" />
<meta property="og:url" content="PAGE_URL" />
<meta property="og:site_name" content="SITE_NAME" />
<!-- For the og:image content, replace the # with a link of an image -->
<meta property="og:image" content="#" />
<meta property="og:description" content="Consulte is a free Bootstrap HTML Template for Investment Company" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Add site Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
<meta name="msapplication-TileImage" content="images/favicon.png" />

<!-- Structured Data  -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Replace_with_your_site_title",
  "url": "Replace_with_your_site_URL"
}
</script>
</head>

<body>

<div class="page-wrapper">
	{% for message in messages %}
	<div class="popup-msg">
	  <p class="popup-msg-text">{{message}}</p>
	  <!-- <i class="fa fa-times popup-close"></i> -->
	</div>
	{% endfor %}
	<style>
	  .popup-msg {
		display: flex;
		justify-content: space-between;
		position: absolute;
		transform: translateX(-50%);
		z-index: 1000;
		top: 2%;
		right: -3%;
		padding: 0.5rem;
		border-radius: 10px;
		border: 1.3px solid gray;
		color: rgb(255, 255, 255);
		background-color: rgb(228, 228, 228);
		box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.3);
	  }
	  .popup-msg-text {
		padding: 7px 5px 0px 5px;
		color:#FB8500 ;
	  }
	</style>
	
	<script>
	  let popup = document.querySelector(".popup-msg");
	  if (popup) {
		setTimeout(() => {
		  popup.style.display = "none";
		}, 10000);
	  }
	</script>
    <!-- Main Header-->
    <header class="main-header style-three">
    	
		<!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
					<!-- Top Left -->
					<div class="top-left">
						<!-- Info List -->
						<ul class="info-list">
							<li><a href="mailto:{{company.email}}"><span class="icon icofont-envelope"></span>{{company.email}}</a></li>
							<li><a href="tel:{{company.contact}}"><span class="icon icofont-phone"></span> {{company.contact}}</a></li>
							<li><a href="{% url 'contact' %}"><span class="icon icofont-clock-time"></span>{{company.opening_hours}}</a></li>
						</ul>
					</div>
					
					<!-- Top Right -->
                    <div class="top-right pull-right">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="{% url 'apply_loan' %}" class="share">Apply Loan</a></li>
							<li><a href="{{company.twitter_url}}" class="icofont-twitter"></a></li>
							<li><a href="{{company.facebook_url}}" class="icofont-facebook"></a></li>
							<li><a href="{{company.instagram_url}}" class="icofont-instagram"></a></li>
						</ul>
                    </div>
					
                </div>
            </div>
        </div>
		
    	<!-- Header Upper -->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="inner-container clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href=" {% url 'home' %} "><img src="{{company.logo.url}}" alt="" title="" height="10"></a></div>
                    </div>
					
                   	<div class="nav-outer pull-right clearfix">
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse show collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li ><a href="{% url 'home' %}">Home</a></li>
									
									<li class="dropdown"><a href="#">About Us</a>
										<ul>
											<li><a href="{% url 'about' %}">About Us</a></li>
											<li><a href="{% url 'team' %}">Our Team</a></li>
											<li><a href="{% url 'shareholders' %}">Our Shareholders</a></li>
										</ul>
									</li>
									<li><a href="{% url 'services' %}">Service</a></li>
									{% comment %} <li><a href="{% url 'projects' %}">Projects</a></li> {% endcomment %}
									<li><a href="{% url 'blogs' %}">Blog</a></li>
									<li><a href="{% url 'contact' %}">Contact</a></li>
									<li><a href="{% url 'login' %}">Investor Relation</a></li>
								</ul>
							</div>
							
						</nav>
						
					</div>
					
					<!-- Outer Box -->
					<div class="outer-box">
                        <div class="mobile-nav-toggler"><span class="icon ti-menu"></span></div>
					</div>
                   
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon lnr lnr-cross"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href=" {% url 'home' %} "><img src="{{company.logo.url}}" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->
		
    </header>
    <!--End Main Header -->