
<nav class="navbar navbar-expand-lg navbar-light bg-light" justify-content-between>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'mail' %}">Send Custom Mail</a>
        <a class="nav-item nav-link active" href="{% url 'bulk_mail' %}">Send Mail to Shareholders</a>
        <a class="nav-item nav-link active" href="{% url 'selected_mail' %}">Send Mail to Selected Shareholders</a>
      </div>
      
    </div>
    <div>
       <a href=" {% url 'logout' %} "> <button class="btn btn-primary">Logout</button></a>
      </div>
  </nav>